/**************************/
/* BELOW 1280px  */
/**************************/

@media (max-width: 80rem) {
  .main-nav-link:not(.logo-link) {
    display: none;
  }

  .menu,
  .menu-link {
    display: block !important;
  }
}

/**************************/
/* BELOW 960px  */
/**************************/

@media (max-width: 60rem) {
  .main-header {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.26)
      ),
      url("/img/background_2.png");

    background-size: cover;
    height: 100vh;
    position: relative;
  }

  .news-arrow-right,
  .news-arrow-left {
    display: none;
  }

  .all-news .iconify {
    display: none;
  }

  .all-news {
    justify-content: space-between;
  }

  .car-model-news {
    padding-right: 0rem;
  }

  .car-model-news p {
    padding-right: 0rem;
  }
}

/**************************/
/* BELOW 850px  */
/**************************/

@media (max-width: 54rem) {
  .store {
    grid-template-columns: 1fr;
  }

  .secondary-heading {
    font-size: 2.4rem;
  }
}

/**************************/
/* BELOW 600px  */
/**************************/

@media (max-width: 38rem) {
  .news-img {
    grid-row: 1/1;
  }

  .car-news {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/**************************/
/* BELOW 450px  */
/**************************/
@media (max-width: 28rem) {
  .store-right .car-model p,
  .store-left .car-model p {
    display: none;
  }

  .footer {
    grid-template-columns: 1fr;
  }

  .glowing-loader {
    height: 4rem;
    width: 4rem;
  }

  .logo {
    height: 2rem;
    width: 2rem;
  }
}
